dash==1.14.0
dash-core-components==1.10.2
dash-html-components==1.0.3
dash-renderer==1.6.0
dash-table==4.9.0
Flask==1.1.2
Flask-Compress==1.5.0
gunicorn==20.0.4
ngboost @ git+https://github.com/stanfordmlgroup/ngboost.git@3c4ff30035893da5e73954658ce3de9f5f29e7b4
numpy==1.18.5
pandas==1.1.0
plotly==4.9.0
scikit-learn==0.23.2
scipy==1.4.1
tensorflow==2.3.0
yfinance==0.1.54

